<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Structure Creator</title>
</head>
<body>
    <style>
        body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header, section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
header h1 {
    color: #0275d8;
}
h2 {
    color: #5cb85c;
}

    </style>
    <header>
        <h1>Structure Creator</h1>
        <p>This project will help you to create a basic structure for your project and start coding.</p>
    </header>
    <section>
        <h2>Usage</h2>
        <p>Start : <code>npm install structure-creator</code> And Run <code>structure</code></p>
    </section>
</body>
</html>
